--- 
# front-matter
--- 

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin

// syntax highlighting from the "contrast" skin
// https://mmistakes.github.io/minimal-mistakes/docs/stylesheets/#colors
$base00: #000000 !important;
$base01: #242422 !important;
$base02: #484844 !important;
$base03: #6c6c66 !important;
$base04: #918f88 !important;
$base05: #b5b3aa !important;
$base06: #d9d7cc !important;
$base07: #fdfbee !important;
$base08: #ff6c60 !important;
$base09: #e9c062 !important;
$base0a: #ffffb6 !important;
$base0b: #a8ff60 !important;
$base0c: #c6c5fe !important;
$base0d: #96cbfe !important;
$base0e: #ff73fd !important;
$base0f: #b18a3d !important;

@import "minimal-mistakes"; // main partials

// https://github.com/mmistakes/minimal-mistakes/issues/1219#issuecomment-326809412
html {
    font-size: 15px; // originally 16px
    @include breakpoint($medium) {
        font-size: 16px; // originally 18px
    }

    @include breakpoint($large) {
        font-size: 17px; // originally 20px
    }

    @include breakpoint($x-large) {
        font-size: 18px; // originally 22px
    }
}

// https://github.com/mmistakes/minimal-mistakes/blob/master/_sass/minimal-mistakes/_syntax.scss
// https://stackoverflow.com/a/38490989/152997
pre.highlight {
    margin: 0;
    padding: 1em;
    max-height: 500px;
    overflow-y: scroll;
}

